<%= turbo_frame_tag 'user' do %>
  <%= form_with model: user, local: false do |form| %>
    <% if user.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
          <% user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :name,  style: "display: block" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :email, style: "display: block" %>
      <%= form.text_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :address, style: "display: block" %>
      <%= form.text_field :address, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :contact, style: "display: block" %>
      <%= form.text_field :contact, class: "form-control" %>
    </div>

    <div class="form-group mt-4 mb-5">
      <%= form.submit class: "btn btn-primary btn-lg" %>
      <%= link_to "Back to users", users_path , class: "btn btn-outline-primary btn-lg" %>
    </div>
  <% end %>
<% end %>
