  <!DOCTYPE html>
  <html>
    <head>
      <title>DemoAjax</title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag "application", "data-turbo-track": "reload", defer: true %>
      <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
      <%= turbo_include_tags %>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    </head>

    <body>
      <script>
        $(document).ready(function () {
          $('[data-bs-toggle="dropdown"]').dropdown();
        });
      </script>
      <%= render "shared/header" %>
      <%= yield %>
      <%= turbo_frame_tag "user" %>
      <%= render "shared/footer" %>
    </body>
  </html>
